<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appSettings>
    </appSettings>
    <connectionStrings>
        <add name="PostgreSQL" connectionString="host=localhost;port=5432;database=cylance;user id=jquijano;password=" providerName="Npgsql" />
        <add name="Redis" connectionString="hostname:6379,password=secret"/>
    </connectionStrings>
</configuration>
