<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appSettings>
    </appSettings>
    <connectionStrings>
        <add name="PostgreSQL" connectionString="host=cylance.cetjy9swwdzy.us-west-1.rds.amazonaws.com;port=5432;database=cylancecc;user id=root;password=Allowmein44$$" providerName="Npgsql" />
    </connectionStrings>
</configuration>
